<div class="container">
  <br>
  <img src="https://fontmeme.com/permalink/210201/be26160f532f336200b80e62113dcc4a.png" alt="pokemon-font"
    id="addPokemon">
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span id="message"></span>
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="searchVal" class="form-control" />
        </div>
        <button id="search" type="button" class="btn btn-primary" style="width: 210px; height: 38px;">
          <i class="fas fa-search">Where's that pokemon?!</i>
        </button>
      </div>
      <br>
      <div class="card" style="width: 26rem; height: 40rem; align-self: center;">
        <img id="sprite" src="https://lh3.googleusercontent.com/proxy/vxURY5L6dxUj9JOB6upfgkRNJBDG4qZKK3cihzzigye60zCX2XoBMka8YWNQ6xeZpqPv-4PAUS-pA_hVvsiNnI7cFYz6xbjGiHl9hpV7zVAm9SwKqEob"   alt="Pokeball">
        <div class="card-body">
          <h5 class="card-title">Name: <span id="pkmnName"></span></h5>
          <p class="card-text">Type: <span id="typeOne"></span> / <span id="typeTwo"></span></p>
          <p class="card-text">Level: <input type="number" id="levelVal"></p>
          <p class="card-text"></p>
        </div>
      </div>
      <button type="button" class="btn btn-primary" style="margin-left: 140px; margin-top: 5px;">
        <i class="fas fa-search" id="submit">Add to collection</i>
      </button>
    </div>
    
    <script src="js/script.js"></script>


