<h1>Your pokemon!</h1>

<div class="container-md">
  <div class="row">
    <ul>
      {{#each pokebase }}
      <li>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">name: {{this.name}}</h5>
              <p class="card-text">type: {{this.type}}</p>
              <p class="card-text">level: {{this.level}}</p>
              <a href="#" class="btn btn-primary">remove</a>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<form action="/members" method="POST">
  <textarea type="text" name="pokebase"></textarea>

</form>