form.signup,
form.login {
  margin-top: 50px;
}

h1 {
  text-align: center;

}
#link{
  text-align: right;
}

body{
  background-image: url('images/Login and Sign Up Background.png');
}

#allPokemon{
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  color: yellow;
  font-weight: 200;
}

#addPokemon{
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  color: yellow;
  font-weight: 200;
}